<h1> <%= this_meetup.name %> </h1>
<h3> Description: </h3>
<div id="entry_text"> <%= this_meetup.description %> </div>

<h3> Location: </h3>
<div id="entry_text"> <%= this_meetup.location %> </div>
<h3> Attendees: </h3>
<ul>
  <% this_membership.each do |member| %>
  <li><%= member.user.username %> <br> <img src="<%= member.user.avatar_url %>" width="135" height="165"></li>
  <% end %>
</ul>

<form action="/meetup/:id" method="post">
  <button type="submit" name="join" value="join"><div id="meetup_button">Join Meetup</div></button>
</form>
<br>

<form action="/meetup/:id" method="post">
  <button type="submit" name="_method" value="delete"><div id="meetup_button">Leave Meetup</div></button>
</form>
<br>
<a href = '/'> Home </a>
